:root {

    /* color */

    --bg: #f2f5f9;
    --primary: #ff9c1a;
    --second: #ec1b09;
    --bgwhite: #fff;
    --abu: #E3E3E3;
    --title: #0B090980;




    /* font */

    --ff--poppins: 'poppins', sans-serif;
    --ff--raleway: 'raleway', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}


body {
    background: var(--bg);
}

.head {
    display: flex;
    height: 104px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin: 18px 100px 0px;
    padding: 44px 0px;
}

.logo {
    display: flex;
    padding: 20px 0px;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    font-style: normal;
    font-family: pacifico;
    color: var(--second);
}

.head span {
    color: var(--primary);

}

main {
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

/* SIDEBAR */
.info-button {
    display: none;
}

.sidebar {
    display: flex;
    background: var(--bgwhite);
    width: 400px;
    padding: 64px;
    border-radius: 20px;
    height: 870px;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.profile-images {
    text-align: center;
}

.profile-images img {
    border-radius: 20px;
    margin-top: 3px;
    height: 200px;
}

.info-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.info-content .nama {
    font-size: 28px;
    padding-top: 14px;
    font-family: var(--ff--raleway);
    font-style: normal;
}

.info-content .tittle {
    color: rgba(11, 9, 9, 0.50);
    font-family: var(--ff--raleway);
    font-size: 16px;
    padding: 4px 0px;
    line-height: 40px;
    font-weight: 500;

}


.sosmed-icon {
    display: inline-flex;
    align-items: flex-start;
    gap: 9px;
    margin-bottom: 22px;
}

.sosmed-icon a {
    padding: 1.65px;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.sosmed-icon a img {
    border-radius: 8px;
}

.sidebar-info {
    background: var(--bg);
    padding: 20px 25px;
    border-radius: 20px;
    width: 350px;
    height: 350px;
    flex-shrink: 0;

}

.contact-card {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    width: 265px;
    border-bottom: 1px solid var(--abu);
    align-items: center;
    padding-bottom: 14px;
}

.contact-icon {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    gap: 10px;

}

.contact-icon img {
    width: 22px;
    height: 21px;
}

.contact-tittle {
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.contact-tittle span {
    color: rgba(26, 16, 3, 0.50);
    font-family: var(--ff--raleway);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.contact-tittle h5 {
    color: #000;
    font-family: var(--ff--raleway);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}



.sidebar-button {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #FF9C1B;
    color: var(--bgwhite);
    margin: 16px 52px;
    border: none;
    font-size: 12px;
    width: 65%;
}


/* NAVBAR        */
.main-content {}

.navbar {
    position: absolute;
    background: #F2F7FC;
    width: 583px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 164px;
    right: 162px;
    border-radius: 20px;
    border: 2px solid var(--abu);

}

.navbar-button {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.navbar-item {
    padding-top: 13px;
    height: 80px;
    width: 80px;
    border-radius: 20px;
    background: #E1E8EF;
    border: 1px solid var(--abu);
    row-gap: 25rem;
    text-align: center;
}

.nav-name {
    color: #000;
    font-family: var(--ff--raleway);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;


}

.nav-name-home {
    color: var(--bgwhite);
    font-family: var(--ff--raleway);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;
}

.navbar-item:hover {
    background: var(--primary);
}



.nav-img {
    color: #1A100380;

}

.nav-item a:hover {
    color: var(--bgwhite);
    background: #E1E8EF;

}



.section-home {
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 870px;
    padding-top: 170px;
    display: block;

}

.homeee {
    height: 700px;
    background: var(--bgwhite);
    border-radius: 20px;

}

.home {
    padding-left: 73px;
    padding-top: 28px;
    padding-right: 65px;
}

.home-tittle {
    color: #0B0909;
    font-family: var(--ff--poppins);
    font-size: 40px;
    font-style: normal;
    font-weight: 520;
    line-height: 40px;
    letter-spacing: 1px;
}

.home p {
    padding-top: 24px;
    color: #000;
    font-family: var(--ff--raleway);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.service {
    padding-left: 73px;
    padding-top: 52px;
    padding-right: 65px;
}

.service-tittle {
    color: #000;
    font-family: var(--ff--poppins);
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.8px;
}

.service-paraf {
    display: flex;
    padding: 28px 0px;
    gap: 61px;
    justify-content: center;
    align-items: center;

}

.strength {
    width: 333px;
    height: 169px;
    border-radius: 20px;
    background: #FFEBD1;
    justify-content: center;
    align-items: center;
    padding: 0px 35px;
}

.web {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.web img {
    padding-right: 5px;
}

.web h2 {
    font-family: var(--ff--poppins);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}




.strength p {
    color: #000;
    font-family: var(--ff--raleway);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.35px;
    padding-top: 5px;
}









.section-home {
    display: none;
}

.section-resume {
    background: var(--bg);
    width: 875px;
    height: 870px;
    display: block;
}

.resume {

    padding-top: 152px;
}

.resume-all {
    background: var(--bgwhite);
    width: 875px;
    height: 720px;
    flex-shrink: 0;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
    padding-top: 28px;
}

.resume-tittle {
    padding-top: 18px;
    padding-left: 72px;
    align-items: center;
    color: #0B0909;
    font-family: var(--ff--poppins);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 100% */
    letter-spacing: 1px;
}

.resume-head {
    display: flex;
    gap: 60px;
    align-items: center;
    padding-left: 72px;
    padding-top: 23px;
}

.resume-heading {
    color: #000;
    font-family: var(--ff--poppins);
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: 46.229px;
}

.resume-img {
    text-align: center;
    align-items: center;
    padding-right: 5px;

}

.resume-content {
    display: flex;
    padding: 20px;
    gap: 9px;
    flex-direction: column;
    align-items: flex-start;

    border-radius: 9px;
    background: #FFE3BF;
    width: 310px;
    height: 115px;
    flex-shrink: 0;
}

.year {
    color: rgba(26, 16, 3, 0.50);
    font-family: var(--ff--raleway);
    font-size: 13.869px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.resume-content h4 {
    font-family: var(--ff--raleway);
    font-size: 13.869px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.resume-content p {
    font-family: var(--ff--raleway);
    font-size: 13.869px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.skills {
    padding-top: 195px;
}

.skills-info {
    display: flex;
    align-items: flex-start;
    width: 875px;
    height: 255px;
    padding-left: 85px;
    gap: 215px;
    border-radius: 0px 0px 8px 8px;
    background: #F8FBFB;

}

.skills-head {
    color: #000;
    font-family: var(--ff--poppins);
    font-size: 27.737px;
    font-style: normal;
    font-weight: 500;
    line-height: 46.229px;
    letter-spacing: 0.693px;
}


.skills-logo {
    display: inline-flex;
    gap: 10px;
    padding-top: 8px;

}

.skills-work {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #E1E8EF;

}

.skills-work p {
    font-family: var(--ff--poppins);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.24px;
}



.section-resume {
    display: none;
}



.section-contact {
    background: var(--bg);
    width: 875px;
    height: 870px;
    display: block;
}

.contact {
    padding-top: 152px;
}

.contact-all {
    background: var(--bgwhite);
    width: 875px;
    height: 720px;
    flex-shrink: 0;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
    padding-top: 28px;
}

.contact-head {
    display: inline-flex;
    align-items: center;
    gap: 32px;
    color: #0B0909;
    font-family: var(--ff--poppins);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 1px;
    padding-left: 72px;
    padding-bottom: 20px;
}

.contact-no-email {
    display: flex;
    gap: 27px;
    padding-left: 72px;
}

.contact-tittle {
    display: block;

}

.contact-info {
    width: 333px;
    height: 150px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFEED9;
    padding-left: 26px;
    padding-top: 22px;
}

.contact-info img {
    padding-right: 10px;
}

.contact-info h3 {
    color: #000;
    font-family: var(--ff--poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.4px;
}

.contact-info p {
    color: rgba(0, 0, 0, 0.85);
    font-family: var(--ff--poppins);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.35px;
    padding-left: 35px;
}




.k-form {
    padding-left: 72px;
    padding-top: 32px;
}
.contact-form {
    width: 694px;
    height: 392px;
    border-radius: 20px;
    background: #F8FBFB;
    padding-top: 43px;

    color: #000;
font-family: var(--ff--poppins);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
letter-spacing: 0.4px;
    align-items: center;
    padding-left: 39px;
    padding-right: 76px;
}






















